.MuiDataGrid-root, .MuiAutocomplete-root, .MuiTextField-root {
  background-color: #ffffff;
}

.MuiDataGrid-columnHeaders {
  line-height: unset !important;
}

.MuiFormControl-marginNormal{
  margin: 12px !important;
}

.MuiTreeView-root {
  padding: 20px 26px;
  border: 1px solid #0000003B;
}